.img {
  background-image: url("../../img/fondoHome.png");
  background-size: cover;
}

.global {
  background-color: aliceblue;
  display: grid;
  width: 30%;
  height: 30vw;
  margin-left: 30%;
  align-items: center;
  border-radius: 1.4vw;
  box-shadow: 1vw 1vw 1vw black;
  margin-top: 5%;
}

.flag {
  width: 60%;
  height: 60%;
  margin-left: 20%;
}

.info {
  margin-left: 30%;
}

.pais {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: black;
}
.cont {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.pob {
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  color: black;
}
.buttonReg {
  display: flex;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  right: 10%;
  top: 30%;
  padding: 3px;
}
