.img {
  background-color: teal;
  width: 100%;
  font-weight: bold;
  background-image: url("../../img/Mundo.jpg");
  display: grid;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /*   opacity: 0.7;
  position: absolute; */
  /*  background-attachment: scroll; */
}

.titulo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  text-align: center;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
  margin-right: 50px;
  margin-top: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: right;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: medium;
  border-radius: 5px;
  background-color: aquamarine;
  position: absolute;
  right: 10%;
  top: 30%;

  /*  margin-right: 40px;
  margin-top: 60px; */
}
